h1{
    text-align: left;
    font-size: 60px;
    color: orangered;
    display: flex;
}
h2{
    text-align: center;
    margin-top:50px;
    font-size:50px;
}
p{
    text-align: center;
    font-size: 15px;
   
}
.row{
    border-bottom: 2px solid black;
}
/* .btn1,.btn2{
    text-align: center;
   flex-direction: row;
    display: inline;
    position: relative;
    height: 40px;
    margin-bottom:10px;
} */

.buttonDiv{
margin-bottom: 20px;
padding-top: 30px;

}

.fPassword{
    color: red;
}
div,h1,p{
    position: relative;
    animation: myfirst1 6s ;
}
@keyframes myfirst1 {
    0%   {left: -555px; top: 0px;}
    25%  { left: 0px; }
   
}
p{
    color: maroon;
}