<div class="jumbotron">
  <div class="row">
    <div class="col-md-8">
      <h1><strong>s3iology</strong></h1>
    </div>
    <div class="col-md-4 bt" id="button">
      <div class="buttonDiv">
        <button type="button" class="btn1 btn btn-outline-info my-2 my-sm-0" style="text-align: center;" routerLink="/login"> <i class="fa fa-sign-in" aria-hidden="true"></i> Log In</button>
        <button type="button" class="btn2 btn btn-outline-info my-2 my-sm-0" style="text-align: center;" routerLink="/signup"> <i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</button>
      </div>
    </div>
  </div>

  <h2>Forgot Your Password?</h2> <br>
  <p>To reset your password, please enter your <strong style="color:orangered;">s3iology.com</strong> username. </p>
  <p>s3iology.com will send the password reset instructions to the email address for this account. </p>
  <p>If you don't know the username or your email address is no longer valid, please <a routerLink="/contactUs"> <strong>Contact Us</strong></a> for further
    assistance.</p> <br>

  <form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForm(forgetPasswordForm.value)">
    <div class="col-md-6 col-md-offset-4" style="margin:0 auto;">
      <div class="form-group" [ngClass]="{'has-error':!forgetPasswordForm.controls['forgetPassword'].valid && forgetPasswordForm.controls['forgetPassword'].touched}">
        <label><strong>Username / Email </strong></label>
        <input class="form-control" type="text" placeholder="Enter Username or Email" [formControl]="forgetPasswordForm.controls['forgetPassword']">
        <div *ngIf="forgetPasswordForm.controls['forgetPassword'].touched || forgetPasswordForm.controls['forgetPassword'].dirty">
          <div *ngIf="forgetPasswordForm.controls['forgetPassword'].hasError('required')" class="fPassword"> Enter Your Username / Email</div>
        </div>
      </div>
      <button type="submit" (click)="open(content)"  routerLink="/login" class="btn btn-outline-info my-2 my-sm-0" style="text-align: center;" [disabled]="!forgetPasswordForm.valid">Submit</button>
    </div> 
  </form>
  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Thank You !!</strong></h4>
        <button type="button" class="close" aria-label="Close"  (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Kindly check your email. password reset link has been sent to your email. </p>
        <p>Please click the link in the email to reset your password.</p>
        <p>If you do not receive the password reset link within a few minutes, please check your spam folder or other filtering tools</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>

</div>