h1{
          margin-top: 15px;
        padding-bottom: 15px;
        text-align: center;
 }
    
h2{
        color: #4db6ac ;
        padding-bottom: 15px;
        text-align: center;
        border-bottom: 2px solid #eeeeee
    }

.jumbotron{
    background-image: url(/assets/images/banner.jpg);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size:  cover !important;
}    

.alert{
    
        width:245px;
        color: #FF0000;
        margin-top: 2px;
        height: 5px;
        display: flex;
        align-items: center;
         } 

 input.ng-invalid.ng-dirty{
            border:1px solid red; 
        }
input.ng-valid.ng-dirty{
                border:1px solid #51C722; 
            }

textarea.ng-valid.ng-dirty{
    border:1px solid #51C722; 
}  
textarea.ng-invalid.ng-dirty{
    border:1px solid red; 
}      

select.ng-valid.ng-dirty{
    border:1px solid #51C722; 
}   


.wrapper{
    text-align: center;
}

.account{
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    color: rgba(102, 250, 17, 0.99);
}

a:hover{text-decoration: none;color: #dd2c00 ;}

.fName,.lName,.uName,.password,.confirmPassword,.gender,.email,.address,.contact,.dob,.country,.state,.maritalStatus{
    color: red;
}

:host /deep/.tooltip.bs-tooltip-top {
   width: 400px;
   margin-bottom: 10px;
}
:host /deep/ .bs-tooltip-top[_nghost-c2]   .arrow[_ngcontent-c2]{
    left:46%;
}

div,h1,p{
    position: relative;
    animation: myfirst 6s ;
}
@keyframes myfirst {
    0%   {left: -200px; top: 0px;}
    25%  { left: 0px; }
   
}
 
p{color:#87F30B;}

.a1,.a2,.a3{
    color:goldenrod
}